@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .title-underline::after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background-color: currentColor;
    margin-top: 16px;
  }
}